<h1>Log In</h1>
<%= form_tag(sessions_create_path, method: 'post') do%>
 <div class="field">
 	<%= label_tag 'user[email]', 'Email:' %>
 	<%= email_field_tag 'user[email]', @user.try(:email) %>
 </div>

 <div class="field">
 	<%= label_tag 'user[password]', 'Password:' %>
 	<%= password_field_tag 'user[password]' %>
 </div>

 <div class="action">
 	<%= submit_tag("Log In") %>
 </div>
<% end %>