<!DOCTYPE html>
<html>
<head>
  <title>CreditCardsManagment</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>

<%= render 'layouts/header'%>

<div id="main_page" class="container"  role="main">
    <%= render 'layouts/admin' if current_user.try(:admin)%>
	<% flash.each do |name, msg| %>
	<%= content_tag :div, msg, class: name %>
	<% end %>
	
    <%= yield %>
</div>

<script id="cardModalTemplate" type="text/x-handlebars-template" >
  <div class="modal" id="modalCard{{id}}">
    <div class="card-content">
      <span class="close" onclick="closeCard(this)">&times;</span>
      <h1>{{name}}</h1>
      <div class="body">
        Card Type:<strong> {{c_type}}</strong><br>
        Bonus: <strong> {{bonus}}</strong><br>
        APR: <strong> {{apr}}</strong><br>
        Anual Fee: <strong> ${{anual_fee}}</strong><br>
        Credit Needed: <strong> {{credit_needed}}</strong><br>
        Balance Transfar APR: <strong> {{balance_transfer_apr}}%</strong><br>
        Balance Transfer Period: <strong> {{balance_transfer_period}} Months</strong><br>
        Category: <strong>{{category}}</strong><br>
        Bank Partners:  <strong>
                          {{#each bank_partners}}
                                {{name}}, 
                            {{/each}}
                        </strong><br>
        <a href="{{corp_url}}"> {{corp_url}}</a>
      </div>
    </div>
  </div>
</script>

<script id="bankPartnerModalTemplate" type="text/x-handlebars-template">
  <h1>{{name}}</h1>
  <div class="cards-content-ul">
    <div class="body">
      <ul>
        {{#each cards}}
          <li>
            {{name}},
            {{c_type}},
            {{bonus}},
            {{corp_url}}
          </li>
        {{/each}}  
      </ul>
    </div>    
  </div>
</script>

</body>
</html>
